@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Calculate Fibonacci numbers</h2>
        <p>
            Calculate the Fibonacci sequence to the <em>n</em>th term. As the Fibonacci
            sequence is <em>O(n!)</em>, calculating the sequence beyond 20 terms will
            take noticeably longer lengths of time. 20 terms should be calculable in
            around 2.5s.
        </p>
        <form method="PUT" action="@Url.Action("Calculate", "Fibonacci",  new { numberOfTerms = "{numberOfTerms}"})" class="form-inline" id="calculator">
            <div class="form-group">
                <label for="terms">Number of terms</label>
                <input type="text" id="terms" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Calculate!
                </button>
            </div>
        </form>
        <div id="series">
            <img src="@Url.Content("images/ajax-loader.gif")" style="display: none;" id="spinner" />
            <p></p>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var form = document.querySelector("#calculator");
        function calculate(event) {
            console.log("FIRED!");
            event.preventDefault();
            let numberOfTerms = document.querySelector("#terms").value;

            let results = document.querySelector("#series p");
            let spinner = document.querySelector("#spinner");
            spinner.style = "display: visible;";
            results.style = "display: none;"

            let url = decodeURI(form.action).replace("{numberOfTerms}", numberOfTerms);
            let method = form.getAttribute("method");
            fetch(url, {
                method: method
            }).then(function(response) {
                spinner.style = "display: none;";
                results.style = "display: visible;";
                
                if (response.ok) {
                    return response.text();
                } else {
                    return `${response.status} ${response.statusText}`;
                }
            }).then(function(body){
                results.textContent = body;
            }).catch(function(error) {
                spinner.style = "display: none;";
                results.style = "display: visible;";
                results.textContent = error.message;
            });

            return false;
        }
        form.onsubmit = calculate;
    </script>
}