@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Calculate Fibonacci numbers</h2>
        <p>
            Calculate the Fibonacci sequence to the <em>n</em>th term. As the Fibonacci
            sequence is <em>O(n!)</em>, calculating the sequence beyond 20 terms will
            take noticeably longer lengths of time. 20 terms should be calculable in
            around 2.5s.
        </p>
        <form method="PUT" action="@Url.Action("Calculate")" class="form-inline" id="calculator">
            <div class="form-group">
                <label for="terms">Number of terms</label>
                <input type="text" id="terms" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Calculate!
                </button>
            </div>
        </form>
        <p id="series"></p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function calculate(event) {
            console.log("FIRED!");
            event.preventDefault();
            let numberOfTerms = document.getElementById("terms").value;
            let terms = numberOfTerms;

            document.getElementById("series").innerHTML = terms;

            return false;
        }
        document.getElementById("calculator").onsubmit = calculate;
    </script>
}